header.header
    nav.nav.nav--tours
        a.nav__el(href='/') All tours
    .header__logo
        img(src='/img/logo-white.png' alt='natours logo')
    nav.nav.nav_user
    //- a.nav__el(href='#') My bookings
    //- a.nav__el(href='#')
    //-     img.nav__user-img(src='img/user.jpeg' alt='User Photo')
    //-     span Jonas
    button.nav__el Sign up
    button.nav__el.nav__el--cta Sign up